# Configuração do Asaas
ASAAS_API_KEY=sua_chave_api_asaas
ASAAS_BASE_URL=https://sandbox.asaas.com/api/v3

# Configuração do Supabase
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_KEY=sua_chave_public_supabase

# Porta do servidor
PORT=3000
